body {
  font-family: "Rubik", sans-serif;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.logo {
  width: 100px;
  position: relative;
  margin: 10px;
  border-radius: 50%;
  border: 2px solid #c3cfe2;
}
button {
  color: #fff;
  background-color: blue;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
}
ul {
  list-style: none;
}
#city-input {
  position: relative;
  margin-top: 35px;
  border: 2px solid #c3cfe2;
}
.btn-primary {
  position: relative;
  margin-top: 35px;
}
::placeholder {
  color: #b4c0d3;
  font-style: italic;
  font-size: 15px;
}

#celsius-link {
  text-decoration: none;
}
.info {
  font-size: 11px;
  font-weight: 600;
  color: #0d335d;
}
.citycard {
  display: grid;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 20px 120px;
}
.logosearch {
  margin: 0, auto;
  display: block;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 20px 120px;
}
.container {
  background-color: #f5f7fa;
  border: 3px solid #c3cfe2;
  padding: 20px;
}
h1 {
  font-weight: 900;
  text-align: left;
  padding: 20px;
  color: #0d335d;
}
.currtemp {
  font-size: 25px;
  color: #0d335d;
}
.cityemoji {
  font-size: 30px;
  padding: 30px;
}
.currdetails {
  color: #0d335d;
  font-size: 15px;
  font-style: italic;
}
.card-columns {
  display: inline-block;
  border-radius: 20px;
}

.w-25 {
  position: relative;
  margin: 20px;
}
.card-title {
  font-size: 30px;
}
.text-muted {
  font-size: 10px;
}
.code-link {
  font-size: 15px;
  text-align: center;
}
a {
  text-decoration: none;
}
